#mapwrap {
  position: relative;
  overflow: hidden;
}

.category,
.category * {
  margin: 0;
  padding: 0;
  color: #000;
}

.category {
  position: absolute;
  overflow: hidden;
  top: 10px;
  left: 10px;
  /* width: 150px; */
  height: 50px;
  z-index: 10;
  border: 1px solid black;
  font-size: 12px;
  text-align: center;
  background-color: #fff;
}

.category .menu_selected {
  background: var(--dark);
  color: var(--light);
  border-left: 1px solid #915b2f;
  border-right: 1px solid #915b2f;
  margin: 0 -1px;
}
.category .menu_selected .ico_comm {
  color: var(--light);
}

.category li {
  list-style: none;
  float: left;
  width: 50px;
  height: 50px;
  /* padding-top: 5px; */
  cursor: pointer;
}

.category .ico_comm {
  display: block;
  margin: 0 auto 5px;
  width: 22px;
  height: 22px;
  font-size: 22px;
  /* background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/category.png') no-repeat; */
}
.category .menu_selected .ico_comm {
  display: block;
  margin: 0 auto 5px;
  width: 22px;
  height: 22px;
  font-size: 22px;
  /* background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/category.png') no-repeat; */
}

/* .category .ico_coffee {
  background-position: -10px 0;
}

.category .ico_store {
  background-position: -10px -36px;
}

.category .ico_carpark {
  background-position: -10px -72px;
} */

/* customOverlay */
.overlaybox {
  position: relative;
  width: 250px;
  height: 250px;
  background-color: #2b2d36;
  /* background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/box_movie.png")
    no-repeat; */
  padding: 15px 10px;
}
.overlaybox div,
ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.overlaybox li {
  list-style: none;
}
.overlaybox .title {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.overlaybox ul {
  width: inherit;
}
.overlaybox li {
  position: relative;
  margin-bottom: 2px;
  background: #2b2d36;
  padding: 5px 10px;
  color: #aaabaf;
  line-height: 1;
}

.overlaybox img {
  width: 230px;
}

.overlaybox li span {
  display: inline-block;
}
.overlaybox li .content-title {
  font-size: 15px;
  font-weight: bold;
}
.overlaybox li .content-detail {
  font-size: 13px;
}
.overlay-arrow {
  border: 0px solid transparent;
  border-bottom: 10px solid rgba(0, 0, 0, 0);
  top: 6px;
  position: relative;
  right: -27%;
}
.overlay-arrow::before {
  border: 10px solid transparent;
  border-top: 8px solid #2b2d36;
  /* top: 101px; */
  content: "";
  /* position: absolute; */
  /* position: relative; */
  /* right: 50%; */
}
